USE [master]
GO
/****** Object:  Database [OJTManagement]    Script Date: 7/21/2022 11:30:51 PM ******/
CREATE DATABASE [OJTManagement]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OJTManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OJTManagement]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[avatar] [varchar](200) NULL,
	[isAdmin] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblApplication]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApplication](
	[applicationID] [int] IDENTITY(1,1) NOT NULL,
	[attachmentPath] [varchar](200) NOT NULL,
	[expected_Job] [nvarchar](50) NOT NULL,
	[technology] [nvarchar](50) NOT NULL,
	[experience] [nvarchar](30) NOT NULL,
	[foreign_Language] [nvarchar](50) NOT NULL,
	[otherSkills] [nvarchar](50) NOT NULL,
	[evaluation] [nvarchar](500) NULL,
	[grade] [decimal](3, 1) NULL,
	[is_Pass] [int] NULL,
	[student_Confirm] [bit] NULL,
	[school_Confirm] [int] NULL,
	[company_Confirm] [int] NULL,
	[studentCode] [varchar](8) NOT NULL,
	[postID] [int] NOT NULL,
	[semesterID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[applicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCompany]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCompany](
	[companyID] [varchar](10) NOT NULL,
	[address] [nvarchar](100) NULL,
	[city] [nvarchar](30) NULL,
	[phone] [varchar](10) NULL,
	[company_Description] [nvarchar](2000) NULL,
	[is_Signed] [bit] NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[companyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCompany_Post]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCompany_Post](
	[postID] [int] IDENTITY(1,1) NOT NULL,
	[title_Post] [nvarchar](100) NOT NULL,
	[job_Description] [nvarchar](2000) NOT NULL,
	[job_Requirement] [nvarchar](2000) NOT NULL,
	[remuneration] [nvarchar](2000) NULL,
	[workLocation] [nvarchar](100) NOT NULL,
	[quantityInterns] [int] NOT NULL,
	[postingDate] [date] NOT NULL,
	[expirationDate] [date] NOT NULL,
	[school_confirm] [bit] NULL,
	[statusPost] [int] NULL,
	[companyID] [varchar](10) NOT NULL,
	[majorID] [int] NOT NULL,
	[vacancy] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[postID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFollowing_Post]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFollowing_Post](
	[studentCode] [varchar](8) NOT NULL,
	[postID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[studentCode] ASC,
	[postID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMajor]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMajor](
	[majorID] [int] IDENTITY(1,1) NOT NULL,
	[majorName] [nvarchar](50) NOT NULL,
	[categoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[majorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSemester]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSemester](
	[semesterID] [int] IDENTITY(1,1) NOT NULL,
	[semesterName] [varchar](20) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[semesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSemester_Student]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSemester_Student](
	[recordSemesterID] [int] IDENTITY(1,1) NOT NULL,
	[semesterID] [int] NOT NULL,
	[studentCode] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recordSemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 7/21/2022 11:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent](
	[studentCode] [varchar](8) NOT NULL,
	[birthDay] [date] NULL,
	[address] [nvarchar](100) NULL,
	[gender] [bit] NULL,
	[phone] [varchar](10) NULL,
	[is_Intern] [int] NULL,
	[numberOfCredit] [int] NULL,
	[major] [nvarchar](30) NULL,
	[username] [varchar](50) NOT NULL,
	[is_Disabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[studentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblAccount] ([username], [password], [name], [avatar], [isAdmin]) VALUES (N'anhdlpss150308@fpt.edu.vn', NULL, N'Đoàn Lương Phương Anh', NULL, 2)
INSERT [dbo].[tblAccount] ([username], [password], [name], [avatar], [isAdmin]) VALUES (N'anhdpse151396@fpt.edu.vn', NULL, N'Đặng Phương Anh', NULL, 2)
INSERT [dbo].[tblAccount] ([username], [password], [name], [avatar], [isAdmin]) VALUES (N'anhnpqse140645@fpt.edu.vn', N'123456', N'Nguyễn Phan Quỳnh Anh', NULL, 2)
GO
SET IDENTITY_INSERT [dbo].[tblApplication] ON 

INSERT [dbo].[tblApplication] ([applicationID], [attachmentPath], [expected_Job], [technology], [experience], [foreign_Language], [otherSkills], [evaluation], [grade], [is_Pass], [student_Confirm], [school_Confirm], [company_Confirm], [studentCode], [postID], [semesterID]) VALUES (24, N'Cv.pdf', N'Begin a good sale', N'Tinh học văn phòng nâng cao', N'1 năm', N'Tiếng anh cơ bản', N'Design web basic', N'Đỉnh', CAST(8.0 AS Decimal(3, 1)), 1, 1, 1, 1, N'SS150375', 353, 5)
INSERT [dbo].[tblApplication] ([applicationID], [attachmentPath], [expected_Job], [technology], [experience], [foreign_Language], [otherSkills], [evaluation], [grade], [is_Pass], [student_Confirm], [school_Confirm], [company_Confirm], [studentCode], [postID], [semesterID]) VALUES (26, N'Cv.pdf', N'Good busiessman', N'Execl, Word', N'1 năm', N'Tiếng anh + Tiếng trung căn bản', N'Design web', N'Good', CAST(8.0 AS Decimal(3, 1)), 1, 1, 1, 1, N'SS150343', 367, 1)
INSERT [dbo].[tblApplication] ([applicationID], [attachmentPath], [expected_Job], [technology], [experience], [foreign_Language], [otherSkills], [evaluation], [grade], [is_Pass], [student_Confirm], [school_Confirm], [company_Confirm], [studentCode], [postID], [semesterID]) VALUES (31, N'Cv.pdf', N'Sales manager', N'Tinh học văn phòng', N'Chưa có kinh nghiệm', N'Tiếng anh căn bản', N'Profesional mailing', N'Not performent at work', CAST(4.0 AS Decimal(3, 1)), -1, 1, 1, 1, N'SS150341', 378, 5)
SET IDENTITY_INSERT [dbo].[tblApplication] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([categoryID], [categoryName]) VALUES (1, N'Công nghệ thông tin')
INSERT [dbo].[tblCategory] ([categoryID], [categoryName]) VALUES (2, N'Quản trị kinh doanh')
INSERT [dbo].[tblCategory] ([categoryID], [categoryName]) VALUES (3, N'Ngôn ngữ học')
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCompany_Post] ON 

INSERT [dbo].[tblCompany_Post] ([postID], [title_Post], [job_Description], [job_Requirement], [remuneration], [workLocation], [quantityInterns], [postingDate], [expirationDate], [school_confirm], [statusPost], [companyID], [majorID], [vacancy]) VALUES (358, N'Data Engineer', N'Build pipelines that aggregate data from many different sources, provide valuable insights for the business;
Design solutions that provide analytics in real-time;
Grow our Data Platform so that new data requirements can be done quickly;
Create more tools and frameworks for processing big data;
Build metrics and monitoring system to keep data platform within SLAs;
Collaborate with our AI & Business Intelligence teams;
Contribute to a data-driven culture.', N'Have 1+ years experience in React Native;
Have experience with Android/iOS;
Have communication and research skills;
Be able to learn new technologies quickly.', N'Love of data. You run “SELECT COUNT(SHEEP) FROM BACKYARD” during your sleep!
Strong programming skill (Java/Python);
Problem solving skills;
Teamwork spirit;
(Bonus) Experience with cloud platforms such as Google Cloud Platform or Amazon Web Service.', N'TP.HCM', 10, CAST(N'2021-04-30' AS Date), CAST(N'2021-08-26' AS Date), 0, 3, N'FPT005', 1, N'Kỹ sư phân tích dữ liệu')
INSERT [dbo].[tblCompany_Post] ([postID], [title_Post], [job_Description], [job_Requirement], [remuneration], [workLocation], [quantityInterns], [postingDate], [expirationDate], [school_confirm], [statusPost], [companyID], [majorID], [vacancy]) VALUES (411, N'Embedded Software Engineer', N'Develop and maintain S/W applications for embedded MCU on High Resolution Monitors, Digital Appliance Products like Refrigerator, Washing Machine, Air Conditioner, Kitchen Prouducts,…
Understanding the requirements needed to perform the software development work required by each project.
Researching, designing, implementing and managing software programs based on company’s procedures.
Execute jobs assigned by Group Leader based on job-demands.', N'University graduated with computer science, software, application programming related major
Good at logical thinking, problem-solving, collaboration, and communication skills.
Strong knowledge of basic data structures and algorithms.
Industriousness, result-oriented, high energy, self-motivated, and creativeindividual.
Being able to use English for working.', N'Intensive training programs for Freshers
13th Month + Performance Bonus - Twice a year (Up to 3 months)
Flexible working time
Dynamic & friendly working environment
Udemy license is provided
Premium healthcare package
100% Salary in probation and join Social Insurance.
Shuttle bus to factory
Team Building quarterly
GWP Gifts quarterly
Free Luncheon
Training Opportunities in Headquarter – Korea
Enjoy various activities such as SEHC Events, Town Hall Meeting, Liên Quân Mobile Champion, SEHC Marathon, SEHC Hackathon, SEHC Home Town,....', N'TP.HCM', 10, CAST(N'2022-07-19' AS Date), CAST(N'2022-08-28' AS Date), 1, 2, N'FPT023', 1, N'Embedded Software Engineer')
INSERT [dbo].[tblCompany_Post] ([postID], [title_Post], [job_Description], [job_Requirement], [remuneration], [workLocation], [quantityInterns], [postingDate], [expirationDate], [school_confirm], [statusPost], [companyID], [majorID], [vacancy]) VALUES (416, N'Sales /Client Solution Associate', N'Find suitable ways to contact potential partners; discover their needs and explore opportunities to provide customized solutions.
Build long-term strategic relationships with new and existing customers.
Close business deals by coordinating requirements; developing and negotiating contracts, integrating contract requirements with business operations.
Update employer branding knowledge by keeping building professional networks, joining relevant events and training as well as focusing on researching/reading relevant material.
Regularly review all the projects in scope & make the reports in a timely manner.
Other tasks for supporting the team as assigned', N'At least 1 year of working experience in Sales/ Consulting. Experiences in HR-related services would be a plus.
Good communication and customer service skills.
Fast learner and open-minded attitude.
Accountability and ability to work in a team as well as independently.
Self-motivation, high flexibility and strong adaptability.
Good time-management skill and objective-orientation', N'Competitive salary + Commission + Bonus.
Having chances to work with top companies.
Training and self-development: Being updated with new HR trends, personal and professional skills.
Health insurance, social insurance, annual health checks.
Company trip, workshop, team building…
15 days of annual leave.', N'TP.HCM', 10, CAST(N'2022-07-24' AS Date), CAST(N'2022-09-02' AS Date), 1, 2, N'FPT025', 8, N'Sales /Client Solution Associate')
SET IDENTITY_INSERT [dbo].[tblCompany_Post] OFF
GO
INSERT [dbo].[tblFollowing_Post] ([studentCode], [postID]) VALUES (N'SE151170', 415)
GO
SET IDENTITY_INSERT [dbo].[tblMajor] ON 

INSERT [dbo].[tblMajor] ([majorID], [majorName], [categoryID]) VALUES (1, N'Kỹ thuật phần mềm', 1)
INSERT [dbo].[tblMajor] ([majorID], [majorName], [categoryID]) VALUES (3, N'Trí tuệ nhân tạo', 1)
INSERT [dbo].[tblMajor] ([majorID], [majorName], [categoryID]) VALUES (4, N'Hệ thống thông tin', 1)
SET IDENTITY_INSERT [dbo].[tblMajor] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSemester] ON 

INSERT [dbo].[tblSemester] ([semesterID], [semesterName], [startDate], [endDate]) VALUES (1, N'Spring 2022', CAST(N'2021-12-31' AS Date), CAST(N'2022-04-30' AS Date))
INSERT [dbo].[tblSemester] ([semesterID], [semesterName], [startDate], [endDate]) VALUES (2, N'Summer 2022', CAST(N'2022-04-30' AS Date), CAST(N'2022-08-31' AS Date))
INSERT [dbo].[tblSemester] ([semesterID], [semesterName], [startDate], [endDate]) VALUES (3, N'Fall 2021', CAST(N'2021-08-31' AS Date), CAST(N'2021-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[tblSemester] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSemester_Student] ON 

INSERT [dbo].[tblSemester_Student] ([recordSemesterID], [semesterID], [studentCode]) VALUES (3, 3, N'HE150001')
INSERT [dbo].[tblSemester_Student] ([recordSemesterID], [semesterID], [studentCode]) VALUES (12, 3, N'SE130243')
INSERT [dbo].[tblSemester_Student] ([recordSemesterID], [semesterID], [studentCode]) VALUES (13, 4, N'SE140645')
SET IDENTITY_INSERT [dbo].[tblSemester_Student] OFF
GO
INSERT [dbo].[tblStudent] ([studentCode], [birthDay], [address], [gender], [phone], [is_Intern], [numberOfCredit], [major], [username], [is_Disabled]) VALUES (N'HE150001', CAST(N'2001-07-08' AS Date), N'Quận 9, TP.HCM', 0, N'0944188898', 2, 69, N'Thiết kế đồ họa', N'vantthe150001@fpt.edu.vn', 1)
INSERT [dbo].[tblStudent] ([studentCode], [birthDay], [address], [gender], [phone], [is_Intern], [numberOfCredit], [major], [username], [is_Disabled]) VALUES (N'HE169016', CAST(N'2002-07-08' AS Date), N'Quận Tân Bình, TP.HCM', 0, N'0934584821', 2, 69, N'Trí tuệ nhân tạo', N'anhpvhe169016@fpt.edu.vn', 1)
INSERT [dbo].[tblStudent] ([studentCode], [birthDay], [address], [gender], [phone], [is_Intern], [numberOfCredit], [major], [username], [is_Disabled]) VALUES (N'SE130240', CAST(N'1999-07-08' AS Date), N'Quận Tân Bình, TP.HCM', 1, N'0988653515', 2, 69, N'Kỹ thuật phần mềm', N'phongltse130240@fpt.edu.vn', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Username_Company]    Script Date: 7/21/2022 11:30:51 PM ******/
ALTER TABLE [dbo].[tblCompany] ADD  CONSTRAINT [Unique_Username_Company] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Username]    Script Date: 7/21/2022 11:30:51 PM ******/
ALTER TABLE [dbo].[tblStudent] ADD  CONSTRAINT [Unique_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblApplication] ADD  CONSTRAINT [DF__tblApplic__schoo__5CD6CB2B]  DEFAULT ((1)) FOR [school_Confirm]
GO
ALTER TABLE [dbo].[tblApplication] ADD  CONSTRAINT [DF__tblApplic__compa__5DCAEF64]  DEFAULT ((0)) FOR [company_Confirm]
GO
ALTER TABLE [dbo].[tblStudent] ADD  DEFAULT ((0)) FOR [is_Disabled]
GO
ALTER TABLE [dbo].[tblApplication]  WITH CHECK ADD  CONSTRAINT [FK_Application_Semester] FOREIGN KEY([semesterID])
REFERENCES [dbo].[tblSemester] ([semesterID])
GO
ALTER TABLE [dbo].[tblApplication] CHECK CONSTRAINT [FK_Application_Semester]
GO
ALTER TABLE [dbo].[tblApplication]  WITH CHECK ADD  CONSTRAINT [FK_Post_Application] FOREIGN KEY([postID])
REFERENCES [dbo].[tblCompany_Post] ([postID])
GO
ALTER TABLE [dbo].[tblApplication] CHECK CONSTRAINT [FK_Post_Application]
GO
ALTER TABLE [dbo].[tblApplication]  WITH CHECK ADD  CONSTRAINT [FK_Student_Application] FOREIGN KEY([studentCode])
REFERENCES [dbo].[tblStudent] ([studentCode])
GO
ALTER TABLE [dbo].[tblApplication] CHECK CONSTRAINT [FK_Student_Application]
GO
ALTER TABLE [dbo].[tblCompany]  WITH CHECK ADD  CONSTRAINT [FK_Company_Account] FOREIGN KEY([username])
REFERENCES [dbo].[tblAccount] ([username])
GO
ALTER TABLE [dbo].[tblCompany] CHECK CONSTRAINT [FK_Company_Account]
GO
ALTER TABLE [dbo].[tblCompany_Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Company] FOREIGN KEY([companyID])
REFERENCES [dbo].[tblCompany] ([companyID])
GO
ALTER TABLE [dbo].[tblCompany_Post] CHECK CONSTRAINT [FK_Post_Company]
GO
ALTER TABLE [dbo].[tblCompany_Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Major] FOREIGN KEY([majorID])
REFERENCES [dbo].[tblMajor] ([majorID])
GO
ALTER TABLE [dbo].[tblCompany_Post] CHECK CONSTRAINT [FK_Post_Major]
GO
ALTER TABLE [dbo].[tblFollowing_Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_FollowingPost] FOREIGN KEY([postID])
REFERENCES [dbo].[tblCompany_Post] ([postID])
GO
ALTER TABLE [dbo].[tblFollowing_Post] CHECK CONSTRAINT [FK_Post_FollowingPost]
GO
ALTER TABLE [dbo].[tblFollowing_Post]  WITH CHECK ADD  CONSTRAINT [FK_Student_FollowingPost] FOREIGN KEY([studentCode])
REFERENCES [dbo].[tblStudent] ([studentCode])
GO
ALTER TABLE [dbo].[tblFollowing_Post] CHECK CONSTRAINT [FK_Student_FollowingPost]
GO
ALTER TABLE [dbo].[tblMajor]  WITH CHECK ADD  CONSTRAINT [FK_Major_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[tblCategory] ([categoryID])
GO
ALTER TABLE [dbo].[tblMajor] CHECK CONSTRAINT [FK_Major_Category]
GO
ALTER TABLE [dbo].[tblSemester_Student]  WITH CHECK ADD  CONSTRAINT [FK_Record_Semester_Student] FOREIGN KEY([semesterID])
REFERENCES [dbo].[tblSemester] ([semesterID])
GO
ALTER TABLE [dbo].[tblSemester_Student] CHECK CONSTRAINT [FK_Record_Semester_Student]
GO
ALTER TABLE [dbo].[tblSemester_Student]  WITH CHECK ADD  CONSTRAINT [FK_Record_Student_Semester] FOREIGN KEY([studentCode])
REFERENCES [dbo].[tblStudent] ([studentCode])
GO
ALTER TABLE [dbo].[tblSemester_Student] CHECK CONSTRAINT [FK_Record_Student_Semester]
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_Student_Account] FOREIGN KEY([username])
REFERENCES [dbo].[tblAccount] ([username])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_Student_Account]
GO
USE [master]
GO
